.chat-list-container {
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    line-height: 2rem;
  }
  a{
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: purple;
    border-bottom: 1px dotted purple;
  }
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
  width: 90vw;
  margin: 30px auto;
}

.user-message {
  padding: 15px 30px;
  border-radius: 50px;
  max-width: 85%;

  p {
    margin: 0;
  }
}

.delete-chat {
  display: block;
  text-align: end;
  text-decoration: none;
  font-weight: 600;
  color: rgb(139, 8, 8);
}
