.btns-resume {
  margin-top: 20px;
  margin-inline: 30px;
  display: flex;
  justify-content: space-between;
}

.resume-with-list {
  display: flex;
  width: 90vw;
  margin: 30px auto;
}

.dynamic-stretch {
  flex-grow: 1;
}
