<ul class="nav nav-pills flex-column">
  <% resumes.each do |resume| %>
    <li class="nav-item">
      <%= link_to resume.name, resumes_path(resume_id:resume.id),
        class: "sidebar-details" %>
    </li>
  <% end %>
</ul>
