.authentication-container {
  width: 500px;
  margin: 50px auto;
  background-color: white;
  padding: 40px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  border-radius: 16px;

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}

.go-back {
  text-decoration: none;
  font-weight: 600;
  color: black;

  &:hover{
    color: purple;
    border-bottom: 1px dotted purple;
  }
}
