.authentication-container {
  width: 400px;
  margin: 50px auto;
  background-color: white;
  padding: 30px;
  box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

}
