.card-product {
  overflow: hidden;
  height: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;

}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 25px;
  margin-top: 8px;
  margin-left: 15px;
}

.card-product .card-product-infos {
  padding: 16px;
}
