.sidebar {
  background-color: white;
  position: sticky;
  top: 0;
  bottom: 0;
  padding: 10px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.sidebar-details {
  padding: 5px;
  text-decoration: none;
  color: black;

  &:hover {
    color: grey;
  }
}

.sticky-sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
}
