<div class="container mt-3">
  <h1 class="text-center  p-3">Your Resumes</h1>

  <% @resumes.each do |resume| %>
    <div class="card-product">
      <div class="card-product-infos">
        <%= link_to resume.name, resume_path(resume), class: 'text-decoration-none ' %>
        <p>Check your resume</p>
      </div>
    </div>
  <% end %>

  <%= link_to "Create new resume", new_resume_path, class: "btn btn-primary my-4" %>
</div>
